.blogCard {
  border-radius: 10px;
  background: #1d222c;
  overflow: hidden;
}

.blogCard figure {
  width: 100%;
  height: 12.5rem;
}

.title {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 1.125rem;
  font-weight: bold;
  color: #0fc1ca;
}

.summary {
  font-size: var(--small);
  line-height: 20px;
  margin-bottom: 1.5rem;
}

.title,
.summary {
  padding: 0 1.25rem;
}
