.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.byline {
  position: absolute;
  bottom: 15%;
}

.byline > h1 {
  color: #0fc1ca;
  margin-bottom: 1.25rem;
}

.view {
  min-height: 20rem;
}

.socialIcons {
  font-size: 2rem;
  margin-top: 10px;
}

.socialIcons > * {
  display: inline-block;
}

.socialIcons > *:hover {
  color: #0fc1ca;
}

.socialIcons > *:not(:last-child) {
  margin-right: 15px;
}
