.fourOFour {
  font-size: 9rem;
  text-align: center;
  color: #0fc1ca;
}

.fourOFour > :first-child,
.fourOFour > :last-child {
  color: #fcb829;
}

@media (min-width: 360px) {
  .fourOFour {
    font-size: 11rem;
  }
}

@media (min-width: 768px) {
  .fourOFour {
    font-size: 23rem;
  }
}
